.greeting-container {
  text-align: center;
  margin: 100px auto;
  display: flex vertical;
  width: 250px;
}

.greeting-container h1 {
  font-family: "Public Sans", sans-serif;
}

.profile-pic {
  border-radius: 100%;
  width: 170px;
  margin-left: 40px;
  margin-bottom: 40px;
}
